html{
    min-height: 100vh;
    width: 100%;
    
    
}



main {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  background-image: url(/images/imgfond.webp);
  background-size: cover; 
  background-attachment: fixed;
  position: relative;
}




body{
    margin: 0px 0px;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-bottom: 140px;
    gap: 0;
    
}




.font {
    font-family: 'Questrial', sans-serif;
}

/*---------------HEADER-------------------*/

header {
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-direction: row;
    width: 100%;
    background-color:#ffffff;
    height: 80px;
    margin-bottom: O;
    position: fixed;
    top: 0;
    z-index: 1;
    
}

header img{
    padding-left: 30px;
}

header nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:flex-end;
    gap: 50px;
    list-style-type: none;
    padding-left: 0;
    font-size: x-large;
    width: 100%;
    
}


header nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}

nav ul li:hover {
    text-decoration: none;
    color:rgb(191,189,190);
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2);
}

nav ul a:hover {
    text-decoration: none;
   
}


nav ul a {
    transition: transform 1s;
    text-decoration: none;
    color:rgb(0, 0, 0);
    font-size: 20px;
}




/*-------------PRESENTATION---------------*/

#présentation{
    display: flex;
    justify-content:center;
    align-items:flex-start;
    flex-direction: column;
    color: rgb(0, 0, 0);
    width: 85%;
    height: 700px;
    font-size:xx-large;
    
    
}

#présentation-me{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 30%;
    padding-left: 150px;
}


.marge{
    margin: 5px;
}

.title{
    font-size: 54px;
    
font-family: 'Young Serif', serif;
}

.under-title{
     font-family: 'Young Serif', serif;
}

.p-title{
    font-size: 24px;
    padding-bottom: 40px;
   
}

.btn-1 {
    padding: 15px;
}

.btn-1 {
    display: inline-block;
    padding: 8px;
    text-decoration: none;
    color: black;
    transition: background-color 0.3s, color 0.3s, transform 0.3s, box-shadow 0.3s;
    font-size: 20px;
    border: 1px solid transparent; 
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); 
  }
  
  .btn-1:hover {
    background-color: black;
    color: white;
    transform: scale(1.05);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4); 
  }
/*-------------PROPOS---------------*/

.a_propos{
    background-color: black;
    color: #ffffff;
    height: 400px;
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.propos{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 100px;
    justify-content: center;
    font-family: 'Young Serif', serif;
    
}

.propos-p{
    margin: 0;
}
.img-propos{
    max-height: 400px;
}

.propos-title{
    margin-top: 0px;
}

.img-propos {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: relative;
  animation: spin 5s linear infinite;
  border: 4px solid transparent;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
}

.img-propos::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  border: 2px solid rgb(98, 98, 98);
  border-radius: 40%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*-------------Service---------------*/

.competence{
    width: 100%;
    padding-top: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#competence1{
    width: 100%;
    padding-top: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.titleh2 {
    width: 250px;
    font-family: 'Young Serif', serif;
    font-size: 28px;
    position: relative; 
    padding-left: 10px;
    padding-bottom: 5px;
  }
  
  .titleh2::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50%; 
    height: 80%; 
    border-left: 2px solid black; 
    border-bottom: 2px solid black; 
  }

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
    padding: 50px 20px 0px 20px;
    margin-bottom: 50px;
    
}

.compet{
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 20px 20px 20px;
    text-decoration: none;
    color: black;
    transition: background-color 0.3s, color 0.3s, transform 0.3s, box-shadow 0.3s;
    font-size: 20px;
    border: 1px solid transparent; 
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); 
    background-color: #f4f4f4; /* Arrière-plan élégant */
      border: 1px solid #ddd;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.7); /* Ombre élégante */
}

.compet:hover {
    transform: scale(1.1); 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8); 
    background-color: #f2f2f2; 
    color: white; 
    background-color: rgb(57, 57, 57);
  }

.compet h3{
    margin-bottom: 10px;
}

.compet i{
    font-size: 4rem;
    padding-top: 20px;
    padding-bottom: 20px;
}



/*-------------travaux---------------*/

.projet1{
  display: flex;
  justify-content: center;
  align-items: center;
}

.titileproj {
  text-align: center; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(200px, auto);
  grid-gap: 20px;
}

.project {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #f4f4f4; 
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7); 
  margin-bottom: 150px;
}

.project-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.project-title {
  font-weight: bold;
}

#projectGallery {
  max-width: 80%; 
  margin: 0 auto; 
  padding: 0 20px; 
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8); 
  z-index: 4;
}


.modal-image {
  max-width: 60%;
  max-height: 50vh;
  border: 2px solid #dfdfdf;
  box-sizing: border-box;
  margin: 5px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}


.modal-image:first-child {
  max-width: 90%; 
  max-height: 70vh; 
  border: 2px solid #eeeeee; 
  box-sizing: border-box; 
  margin: 5px;
}


.modal1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255);
  padding: 20px;
  text-align: center;
  max-width: 80%;
  max-height: 80vh;
  overflow-y: auto;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
}


.modal-title {
  font-size: 24px;
  margin: 10px 0;
  color: #333;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center; 
}


.modal-description {
  font-size: 16px;
  margin: 10px 0;
  color: #666;
  font-style: italic;
  line-height: 1.4;
  text-align: center; /
}

#modal-content {
  max-width: 80%; 
  max-height: 80vh; 
  
  margin: 0 auto;
  padding: 30px;
}

#modal-elements {
  background-color: #dcdcdc; 
  border-radius: 20px; 
  padding: 10px; 
  margin-top: 10px; 
  font-size: 16px; 
  color: #333; 
}








/*-------------contact---------------*/

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
    background-color:rgb(0, 0, 0);
    width: 100%;
    position: absolute;
    bottom: -6.40%;
    color: white;
    
}

.contact {
    text-align: center;
    padding: 20px;
  }
  
  .contact-title {
    font-size: 28px;
    margin-bottom: 30px;
    position: relative;
    padding: 10px;
  }

  .contact-title::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 80%; 
    height: 70%; 
    border-left: 2px solid rgb(255, 255, 255); 
    border-bottom: 2px solid rgb(255, 255, 255); 
  }
  
  .contact-form {
    max-width: 400px;
    margin: 0 auto;
  }
  
 
  
  .social-links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
     
  }
  
  .social-links li {
    margin: 0 10px;
  }

  .social-links p {
   font-size:large;
  }
  
  
  .social-links li {
    text-decoration: none;
    transition: transform 0.3s;
  }
  
  .social-links li:hover {
    transform: scale(1.2); 
  }

  .social-links a{
    font-size: 24px;
    color: #ffffff;
    text-decoration: none;
    font-size: 3rem;
  }

  .footer-p{
    padding-left: 15px;
  }


  /*---------------MEDIAS QUERIES-----------------*/

  @media screen and (min-width: 768px) {
    .container {
      display: flex;
     align-items: center;
     justify-content: center;
     flex-wrap: wrap;
      gap: 20px;
    }
  
    .compet {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; /* Centrer horizontalement et verticalement */
      min-width: 170px;
      max-width: 190px;
    }
  }

  @media screen and (max-width: 1080px) {
   .propos{
    padding-left: 30px;
    width: 60%;
    padding-right: 15px;
   }
   .img-propos {
    max-height: 250px;
}
.img-propos {
  width: 130px;
  height: 130px;
  
  
}
.propos-p {
  font-size: 14px;
}
#présentation{
  display: flex;
  justify-content:center;
  align-items:flex-start;
  flex-direction: column;
  color: rgb(0, 0, 0);
  width: 70%;
  height: 600px;
  font-size:xx-large;
  
  
}

#présentation-me{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding-left: 50px;
}
  }

  @media screen and (max-width: 768px) {
    main {
      background-image: none; 
    }
    
    .container {
      flex-direction: column; 
    }
    .img-propos {
      display: none;
  }
  .a_propos {
    height: 300px;
    width: 100%;
   
}
  }
  
  /* Pour les écrans de téléphone mobile */
  @media screen and (max-width: 480px) {
    header {
      flex-direction: row; 
      height: auto;
    }
  
  
    header nav {
      margin-right: 0; 
      height: 50px;
    }

    header img {
      display: none;
    }
  
    header nav ul {
      gap:15px; 
      margin-top: Opx;
      padding-left: 10px;
      justify-content: center;
      align-items: center;
      font-size:small;
    }

    nav ul a {
      font-size: 14px;
  }
  
    .title {
      font-size: 36px; 
    }
  
    .under-title {
      font-size: 18px; 
    }
  
    .p-title {
      font-size: 16px; 
    }
  
    .btn-1 {
      font-size: 16px; 
    }

    .a_propos img{
      display: none;
    }

    .a_propos{
      height: 400px;
      width: 100%;
  }
  
  .propos{
      width: 100%;
      padding-left: 20px;
      padding-right: 20px;
  }
  
  .propos-p{
      margin: 0;
  }

  .project {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #f4f4f4; 
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7); 
    margin-bottom: 30px;
  }
  #projectGallery {
    margin-bottom: 130px;
}

#présentation{
  display: flex;
  justify-content:center;
  align-items:flex-start;
  flex-direction: column;
  color: rgb(0, 0, 0);
  width: 85%;
  height: 600px;
  font-size:xx-large;
  
  
}

#présentation-me{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding-left: 50px;
}




.btn-1 {
  padding: 15px;
}

.btn-1 {
  display: inline-block;
  padding: 8px;
  text-decoration: none;
  color: black;
  transition: background-color 0.3s, color 0.3s, transform 0.3s, box-shadow 0.3s;
  font-size: 20px;
  border: 1px solid transparent; 
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); 
}

.btn-1:hover {
  background-color: black;
  color: white;
  transform: scale(1.05);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4); 
}
  
  }
 
  
  
  
  
  



